
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

* {
	box-sizing: border-box;
}

html {
	background: black;
	background-size: cover;
	font-size: 1em;
	font-weight: 200;
	font-family: 'Bangers', cursive;
	max-width: 1200px;
	margin: auto;
}

body {
	background: #000;
	padding-top: 150px;
	font-family: 'Bangers', cursive;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	text-transform: uppercase;
	color: #000;
	margin: auto;
	text-align: center;
	padding: 20px;
	letter-spacing: 10px;
	background: url('../img/glass.png');
	background-size: cover;
}

header h1 {
	margin: 0;
	font-size: 6em;
	text-shadow: 2px 2px 5px lightskyblue;
	display: none;
}

header span {
	font-size: 18px;
	display: none;
}

#image_container {
	width: 100%;
}

#images {
	margin: 0 auto;
}

.image {
	width: 32.399999%;
	float: left;
	margin: 5px;
	cursor: pointer;
}

img {
	width: 100%;
	height: 390px;
	border: 1px solid black;
}


footer {
	text-align: center;
	width: 98%;
	margin: 10px auto;
	padding-top: 60px;
	padding-bottom: 20px;
	letter-spacing: 5px;
	color: black;
	text-shadow: 2px 2px 5px lightskyblue;
	background: linear-gradient(to top, white 60%, transparent);
}

.ig {
	width: 5%;
	height: 5%;
	border: none;
}


#overlay {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.7);
	display: block;
	display: none;
}

#modal {
	position: fixed;
	width: 600px;
	height: 600px;
	background: #fff;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
}

#modal header {
	position: relative;
	background: lightblue;
	width: 100%;
	padding: 10px 0;
}

#modal header p {
	position: absolute;
	top: 5px;
	right: 5px;
	margin: 0;
	color: #000;
	cursor: pointer;
}

#modal header p:hover {
	color: red;
}

#modal header h3 {
	color: #fff;
	margin: 0 0 0 10px;
	text-align: center;
	letter-spacing: 5px;
	font-size: 26px;
}

#modal #add_img img {
	width: 100%;
	height: 100%;
	display: block;
}

#pop_up {
	position: relative;
	top: 200px;
	left: 40px;
	background: url('../img/comicBackground.jpg');
	position: fixed;
	width: 455px;
    padding: 20px;
    margin: 0;
    text-align: justify;
    border-radius: 40px;
    border: 4px solid #000;
    display: none;
}

#pop_up:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 44px solid transparent;
	border-right-color: #fafffc;
	border-left: 0;
	border-bottom: 0;
	margin-top: -22px;
	margin-left: -44px;
}

#pop_up p {
	font-size: 28px;
}

#pop_up p:last-child {
	margin-top: 20px;
}

#pop_up span {
	width: 100%;
	float: right;
	text-align: right;
	cursor: pointer;
}


@media only screen and (max-width: 1088px) and (min-width: 680px) {
	.image {
		width: 48.5%;
		float: left;
		margin: 5px;
		cursor: pointer;
	}
}

@media only screen and (max-width: 679px) and (min-width: 350px) {
	.image {
		width: 97.5%;
		margin: 5px;
		cursor: pointer;
	}
	.image img {
		height: 500px;
	}
	#hero h1 {
		font-size: 3em;
	}
	#hero span {
		font-size: 16px;
	}
	footer h2 {
		margin: 10px 16px;
	}
	.ig {
		width: 15%;
		height: 15%;
	}
	#modal {
		width: 370px;
		height: 370px;
	}
	#pop_up {
		width: 315px;
	}
	#pop_up p {
		font-size: 16px;
	}
}
